/* =========================
   FEEDBACK SECTION
   ========================= */
.feedback-section {
  width: 98.8vw !important;
  /* max-width: 600px; */
  padding: 0 15px;
  margin: 20px auto;
  background: transparent;
  font-family: Arial, sans-serif;
  text-align: left;
}

/* Inputs */
.feedback-section input,
.feedback-section textarea {
  width: 100%;
  padding: 10px 0;
  margin-top: 15px;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 14px;
  color: black;
  background: transparent;
  outline: none;
}

.feedback-section textarea {
  resize: none;
}

.feedback-section input:focus,
.feedback-section textarea:focus {
  border-bottom-color: #e67e22;
}

/* Button */
.feedback-section button {
  margin-top: 20px;
  padding: 12px 20px;
  background: #e67e22;
  color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.feedback-section button:hover {
  background: #cf711d;
}

/* =========================
   STAR RATING
   ========================= */
.star-rating {
  display: flex;
  gap: 8px;
  margin: 15px 0;
}

.star {
  font-size: 28px;
  color: #ccc;
  cursor: pointer;
}

.star.filled {
  color: #f1c40f;
}

/* =========================
   FEEDBACK LIST
   ========================= */
.all-feedbacks {
  margin-top: 30px;
}

.feedback-item {
  padding: 12px 0;
  border-top: 1px solid #eaeaea;
}

.feedback-rating {
  color: #f1c40f;
  font-size: 18px;
}
